nav{
    background-color: white;
    color: white;
}

*{
    background-color: #4b0019;
}

.container{
    background-color: white;
}

.navbar-brand{
    background-color: white;
}

body {
    background-color: white;
}

header {
    background-color: white;
}

.nav-text {
    background-color: white;
    color: #5e3051;
}

.box-2 {
    background-color: #f9e5ec;
}

.contacs-img {
    height: 1.2em;
    vertical-align: middle;
}

.pink-text {
    color: #a90a3f;
}

.bloom-img {
    height: 1.5em;
}

.background-pink {
    background-color: #f9e5ec;
}

.background-white {
    background-color: white;
}

.text-purple {
    color: #5e3051;
}

.text-white {
    color: white;
}

.cus-ord-btn {
    color: #a90a3f !important;
    border-color: #a90a3f !important;
    border-width: 2px !important;
}

.border-pink {
    border-color: #f9e5ec !important;
    color: #f9e5ec !important;
}

.invis-background {
    background-color:rgba(0, 0, 0, 0);
}

.hibiscus-container {
    position: relative;
    text-align: center;
    color: white;
}

.hibiscus-text {
    position: absolute;
    bottom: 2em;
    left: 5em;
}

.arrow-btn {
    border-color: #a90a3f !important;
    border-width: 2px !important;
    background-color: #a90a3f !important;
}

.triangle-btn {
    color: #5e3051 !important;
    border-color: white !important;
    border-width: 2px !important;
    background-color: white !important;
}
 
.lr {
    display: block;
    height: 2px;
    background: #F9E5EC;
    background: linear-gradient(90deg,rgba(249, 229, 236, 1) 0%, rgba(75, 0, 25, 1) 50%, rgba(249, 229, 236, 1) 100%);
    border: 0;
    margin: 1em 0;
    padding: 0;
}

.lc {
    display: block;
    width: 2px;
    height: 100%;
    background: #F9E5EC;
    background: linear-gradient(0deg, rgba(249, 229, 236, 1) 0%, rgba(75, 0, 25, 1) 50%, rgba(249, 229, 236, 1) 100%);
    border: 0;
    margin: 0 1em;
    padding: 0;
}

.overlap-up {
    margin-right: -10px;
    margin-top: -70px;
    position: relative;
}

.overlap-right {
    position: relative;
    margin-left: -35px;
}


.many-flower-border {
    border: 1px solid #e4c2cd !important;
}